<div class="bg-[#292F36] flex items-center justify-center w-full" id="header">
  <div class="container container-screen">
    <app-top-header></app-top-header>
    <app-personal-intro></app-personal-intro>
  </div>
</div>


<div class="bg-[#1A1E23] flex items-center justify-center w-full" id="education">
  <div class="container container-screen">
    <app-education></app-education>
  </div>
</div>


<div class="bg-[#292F36] flex items-center justify-center w-full" id="achievement">
  <div class="container container-screen">
    <app-achievement></app-achievement>
  </div>
</div>


<div class="bg-[#1A1E23] flex items-center justify-center w-full" id="skill">
  <div class="container container-screen">
    <app-skill-expericence></app-skill-expericence>
  </div>
</div>

<div class="bg-[#292F36]  flex items-center justify-center w-full" id="projects">
  <div class="container container-screen">
    <app-projects></app-projects>
  </div>
</div>

