<div appScrollAnimate
     [animationClass]="'zoom-on-reload'"
     [threshold]="0.2" class="py-5 md:py-10">
  <img class="animate-bounce" ngSrc="/img/Module%20title.svg" alt="" height="146" width="1664" priority>
  <div class="text-xl font-bold text-center md:text-3xl text-[#12F7D6] font-mono">
    Projects
  </div>

  <div class="flex justify-center items-center w-full">
    <img ngSrc="/img/Line%2022.svg" height="12" width="160" alt="" class="w-1/4" priority>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-5 py-5 mt-10">

    <div *ngFor="let project of allProjects" class="w-full border-2 border-[#98FAEC] h-auto p-2 rounded-lg hover:scale-105 transform transition duration-20">
      <div class="space-y-2">
        <div class="font-mono text-[#12F7D6] font-semibold text-base md:text-xl truncate">
          {{project.title}}
        </div>
        <div class="font-mono text-sm md:text-base truncate">
          {{project.using}}
        </div>
        <div class="text-justify">
          {{project.description}}
        </div>
        <div class="py-2">
          <a [href]="project.link" class="bg-[#12F7D6] py-2 px-4 text-black hover:text-black rounded-lg" target="_blank">View Project</a>
        </div>
      </div>
    </div>



  </div>

</div>

