<div class="py-5 md:py-10" appScrollAnimate
     [animationClass]="'zoom-on-reload'"
     [threshold]="0.2">
  <img class="animate-bounce" ngSrc="assets/Module%20title.svg" alt="" height="146" width="1664" priority>
  <div class="text-xl font-bold text-center md:text-3xl text-[#12F7D6]">
    Achievement<br>
  </div>

  <div class="flex justify-center items-center w-full">
    <img ngSrc="assets/Line%2022.svg" height="12" width="160" alt="" class="w-1/4" priority>
  </div>

  <div class="flex flex-col md:flex-row gap-5 py-5 mt-10">

    <div class="achievement-card">
      <div class="text-center font-bold text-[#12F7D6] text-lg md:text-2xl">1st Runner-Up</div>
      <div class="text-sm md:text-base text-center font-bold">Victory Day 2021 In-House Programming Contest</div>
      <div class="text-sm md:text-base text-center text-[#28A9E0]">Organized by EWU Computer Programming Club</div>
    </div>

    <div class="achievement-card">
      <div class="text-center font-bold text-[#12F7D6] text-lg md:text-2xl">58th (out of 225)</div>
      <div class="text-sm md:text-base text-center font-bold"> ACM ICPC Dhaka Regional Contest 2023</div>
      <div class="text-sm md:text-base text-center text-[#28A9E0]">Organized by Bangladesh University of Business and Technology</div>
    </div>
    <div class="achievement-card">
      <div class="text-center font-bold text-[#12F7D6] text-lg md:text-2xl">Honourable Mention </div>
      <div class="text-sm md:text-base text-center font-bold"> JU National Collegiate Programming Contest NCPC 2023.</div>
      <div class="text-sm md:text-base text-center text-[#28A9E0]">Organized by Jahangirnagar University</div>
    </div>

  </div>

  <div class="flex flex-col md:flex-row gap-5 md:justify-center">

    <div class="achievement-card">
      <div class="text-center font-bold text-[#12F7D6] text-lg md:text-2xl">Accepted a Paper </div>
      <div class="text-sm md:text-base text-center font-bold"> Titled "White Blood Cells Classification in Leukemic Blood Images.</div>
      <div class="text-sm md:text-base text-center text-[#28A9E0]">Using Deep Learning and Image Processing</div>
    </div>
    <div class="achievement-card">
      <div class="text-center font-bold text-[#12F7D6] text-lg md:text-2xl">1000+ Problem Solving</div>
      <div class="text-sm md:text-base text-center font-bold"> Various Online Judge </div>
      <div class="text-sm md:text-base text-center text-[#28A9E0]">CodeForces, Atcoder, Leetcode, etc</div>
    </div>

  </div>

</div>
