<div class="h-3/4 flex flex-col md:flex-row items-center justify-center text-center gap-10 md:gap-20 py-5 md:py-25">
  <div class="w-full md:w-2/4 text-center md:text-end gap-4">
    <div class="text-xl md:text-4xl font-bold py-5 pt-10">
      Hey<br>
      I'm <span class="text-[#12F7D6]">Sanim,</span><br>
      <span class="text-[#98FAEC]">Software Developer</span>
    </div>
    <div class="text-sm md:text-base">
      A passionate frontend Angular developer with a strong foundation in building responsive and user-centric web
      applications. With hands-on experience in TypeScript, Angular, and modern web technologies. Explore my portfolio to see how I apply my expertise, research insights, and competitive drive to deliver impactful
      solutions. Whether it's creating user-focused applications, solving algorithmic challenges, or advancing technology
      through research.
    </div>
  </div>

  <div class="h-1/2 flex items-center justify-center">
    <div>
      <img ngSrc="/img/MySelf_Image.svg" alt="Portfolio" height="360" width="360" priority/>
    </div>
  </div>
</div>



<div class="flex flex-col items-center justify-center space-y-2">
  <div class="text-2xl text-[#98FAEC] font-mono font-bold">Connect With Me</div>
  <div class="flex gap-3 pb-10">
    <img class="cursor-pointer hover:scale-125 transform transition duration-20" ngSrc = "/img/icon-mail.svg" alt="Email" height="28" width="30" (click)="copyToClipboard('sanimhossain2001@gmail.com')">
    <img class="cursor-pointer hover:scale-125 transform transition duration-20" ngSrc = "/img/github.svg" alt="Github" height="30" width="30" (click)="copyToClipboard('https://github.com/sanim2001')">
    <img class="cursor-pointer hover:scale-125 transform transition duration-20" ngSrc = "/img/icon-linked-in.svg" alt="LinkIn" height="30" width="30" (click)="copyToClipboard('https://www.linkedin.com/in/md-sanim-hossain')">
    <button class="px-4 py-1 text-black font-medium bg-[#12F7D6] rounded-lg hover:scale-105 transform transition duration-20" (click)="downloadCV()">Download My CV</button>
  </div>
</div>
