/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'bengali-font';
    src: url('../public/font/NotoSansBengali.ttf') format('truetype');
  }

  @font-face {
    font-family: 'english-font';
    src: url('../public/font/Lexend.ttf') format('truetype');
  }

  html {
    font-family: english-font, bengali-font, sans-serif;
  }
}


@layer components {
  .container {
    @apply mx-auto max-w-screen-lg p-3;
  }

}
