/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul li a:hover{
    color: #12F7D6;
    transform: scale(1.5);
    transition-duration: 150ms;
  }
}


@layer components {
  .container {
    @apply mx-auto max-w-screen-lg p-3;
  }

}
