<div appScrollAnimate
     [animationClass]="'zoom-on-reload'"
     [threshold]="0.2" class="py-5 md:py-10">
  <img class="animate-bounce" ngSrc="/Module%20title.svg" alt="" height="146" width="1664">
  <div class="text-xl font-bold text-center md:text-3xl text-[#12F7D6] font-mono">
    Experience & Skill
  </div>

  <div class="flex justify-center items-center w-full">
    <img ngSrc="/Line%2022.svg" height="12" width="160" alt="" class="w-1/4" priority>
  </div>

  <div class="flex flex-col md:flex-row gap-10 md:gap-17 py-5">
    <div class="w-full md:w-1/2 text-center md:text-start space-y-2">
      <div class="py-1 text-center md:text-start">
        <div class="text-xl font-bold pt-5 md:pt-10 md:text-2xl text-[#12F7D6] font-mono">Experience</div>

        <div class="font-bold text-xl text-[#98FAEC] md:text-2xl pt-5">May 15,2024 - Present</div>
        <div class="text-lg md:text-xl font-bold  md:border-l-4 md:border-[#98FAEC] md:mt-5 md:pl-3 md:ml-5">
          Truck Lagbe Ltd, Dhaka<br>
          <span class="font-semibold text-sm md:text-md">Jr. Software Engineer (Technology)<br>
          Job Base: Full time</span><br>
          <span class="font-light text-sm md:text-md leading-tight"><b>"</b>Developed responsive web applications using TypeScript with Angular frontend frameworks. Worked from UI/UX requirements, APIs, and mockups to build functional, high-performance web applications for the Admin Panel and Shipper Web.<b>"</b></span>
        </div>
      </div>

      <div class="py-1 text-center md:text-start">
        <div class="font-bold text-xl text-[#98FAEC] md:text-2xl">Mar 10,2024 - Present</div>
        <div class="text-lg md:text-xl font-bold  md:border-l-4 md:border-[#98FAEC] md:mt-5 md:pl-3 py-1 md:ml-5">
          EWU Computer Programming Club<br>
          <span class="font-light text-sm md:text-md">General Secretary</span><br>
          <span class="font-light text-sm md:text-md leading-tight"><b>"</b>I have honed my ability to manage responsibilities effectively in a collaborative environment.<b>"</b></span>

        </div>
      </div>


    </div>


    <div class="w-full md:w-1/2 text-center md:text-start space-y-2">
      <div class="text-xl font-bold pt-5 md:pt-10 md:text-2xl text-[#12F7D6] font-mono">Skill</div>

      <div class="py-5 md:py-10 text-center md:text-left space-y-2">
        <span class="text-md font-bold md:text-xl text-[#12F7D6] font-mono block">Languages:</span>
        <span class="block">C | C++ | JavaScript | Typescript | Java | PHP | Python</span>

        <span class="text-md font-bold md:text-xl text-[#12F7D6] font-mono block">Frontend:</span>
        <span class="block">HTML | CSS | Angular | Tailwind CSS | Bootstrap</span>

        <span class="text-md font-bold md:text-xl text-[#12F7D6] font-mono block">Backend:</span>
        <span class="block">MySQL | Firebase | SQL</span>

        <span class="text-md font-bold md:text-xl text-[#12F7D6] font-mono block">Data Science:</span>
        <span class="block">Pandas | Numpy | Jupyter Notebooks</span>

        <span class="text-md font-bold md:text-xl text-[#12F7D6] font-mono block">Others:</span>
        <span class="block">Git | GitHub | WebStorm | VSCode | Google Colab</span>
      </div>

    </div>


  </div>
</div>

